PUBLIC_BASE_URL=http://127.0.0.1:5173
# this determines the link to the admin page
ADMIN_KEY=replace_with_admin_key
# this is the API secret for your LiveKit server
LIVEKIT_API_SECRET=replace_with_secret
LIVEKIT_API_KEY=devkey
LIVEKIT_KEYS=devkey: replace_with_secret
# Replace with the URL of your LiveKit server, e.g. ws://DOMAIN.COM:7880
LIVEKIT_URL=ws://127.0.0.1:7880
# used for internal communication - should probably always be 127.0.0.1
LIVEKIT_URL_INTERNAL=ws://127.0.0.1:7880
INVITE_MAX_USES=0
VITE_BASE_PATH=/
VITE_ALLOWED_HOSTS=localhost
